#root {
  background-color: #be5d77;
  width: 100%;
  margin: 0;
  max-width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
  font-family: "CutoffPro";
  src: url("../public/CutoffPro.otf") format("opentype");
}

/* Add this CSS to your stylesheets */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.Sphere {
  animation: float 2s ease-in-out infinite;
  /* Adjust the animation duration and easing function as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-down {
  animation: fadeIn out 0.5s ease-out forwards;
}

.scroll-down div {
  opacity: 0;
}

.cursor {
  width: 100px;
  height: 100px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 1;
  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}
