#root {
  background-color: #be5d77;
  width: 100%;
  margin: 0;
  max-width: 100%;
}

/* body {
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

@font-face {
  font-family: "CutoffPro";
  src: url("../public/CutoffPro.otf") format("opentype");
}

/* Add this CSS to your stylesheets */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* @keyframes float2 {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
} */

/* Apply the animation to the Sphere component */
.Sphere {
  animation: float 2s ease-in-out infinite;
  /* Adjust the animation duration and easing function as needed */
}

/* @keyframes rotateLetter {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.scroll-down {
  animation: rotateLetter 1s infinite linear;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-down {
  animation: fadeIn out 0.5s ease-out forwards;
}

/* Set initial opacity to 0% when the page loads */
.scroll-down div {
  opacity: 0;
}

.cursor {
  width: 100px;
  height: 100px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 1;
  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}

/* //ANIMATION FOR TYPING
.console-container {
  font-family: "Khula";
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.hidden {
  opacity: 0;
} */
